html,body{
    margin: 0;
    padding: 0;
}
.block-1{
    background-color: #4c79cc;
    color: #fff;
    padding-bottom: 50px;
    
}
.logo img{
    width: 150px;

}
.logo{
    margin-left: 150px;
    
}
.menu{
    float: right;
    margin-right: 200px;
    margin-top: -80px;
    clear: both;
    
    }
    .menu ul li{
        float: left;
        list-style: none;
        padding: 10px;
    }
    .menu ul a{
        color: #fff;
        text-decoration: none;
    }
    .menu ul li:hover{
        border: 2px solid #2f3238;
        background-color: #2f3238;
    }
.word-1{
    width: 35%;
    margin-left: 150px;
    
}
.word-2{
    width: 35%;
    float:right;
    margin-right: 200px;
    margin-top: -350px;
    clear: both;
}
.word-2 img{
    width: 400px;
    height: 150px;
    border: 3px #fff solid;
        }

    .block-2{
        margin-top: 50px;
        margin-left: 100px;
        
    }
.block-2 img{
    width: 200px;
    height: 100px;
   
}
 .foto-1{
    float: left;
 }
 .foto-2{
    float: left;
 }
 .foto-3{
    float: left;
 }
 .block-2 div{
    padding-left: 70px;
 }
 .foto-4{
    float: right;
    margin-right: 150px;
 }
 .block-2 p{
    color: #a8adb8;
 }
 .block-2 p a{
    color: #06080c;
 }
 .block-2 p a:hover{
color: #a8adb8;
 }
 .clear{
    clear: both;
 }
 .read{
    padding-top: 50px;
    padding-bottom: 50px;
 }
 .footer{
    margin-left: 450px;
    color: #a8adb8;
    padding-bottom: 50px;
 }